In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### View The Data
I will start by seeing what we got from our data collection. How many rows have location data and what does this data look like.

In [2]:
mydata = "tweets1018913.csv"
df = pd.read_csv(mydata)
df.head(5)

,Unnamed: 0,t_id,s_name,t_text,u_location,image_url,t_date
0,0.0,1052370940128968705,brandycooklyn,THINGS WRITERS LOVE:\n\n- Panel discussions.\n...,"Melbourne, Australia",http://pbs.twimg.com/profile_images/1042972658...,2018-10-17 01:29:18
1,1.0,1052370675632091136,Louroulai,RT @nelsonlflores: Tips for avoiding imposter ...,NaN,http://pbs.twimg.com/profile_images/2379147043...,2018-10-17 01:28:15
2,2.0,1052370144180211719,_WayneJ,RT @nelsonlflores: Tips for avoiding imposter ...,GA,http://pbs.twimg.com/profile_images/1050602456...,2018-10-17 01:26:09
3,3.0,1052369947236724736,Imposter_Cat,RT @isaidimhip: Anyway........anybody else fee...,impostersyndrome.life,http://pbs.twimg.com/profile_images/1047849327...,2018-10-17 01:25:22
4,4.0,1052369944506068992,isaidimhip,Anyway........anybody else feeling that impost...,NaN,http://pbs.twimg.com/profile_images/1021102005...,2018-10-17 01:25:21

In [3]:
df.dtypes

Unnamed: 0    float64
t_id           object
s_name         object
t_text         object
u_location     object
image_url      object
t_date         object
dtype: object

In [4]:
df.shape

(26819, 7)

In [5]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Unnamed: 0     286
t_id             0
s_name           0
t_text           0
u_location    4646
image_url        0
t_date           0
dtype: int64

We see that we have over 26K tweets and all but 4646 of them have some sort of location data. The field we will be cleaning is u_locations. So, lets take a look at the uniq values that are inside this field.

In [6]:

df['u_location'].value_counts(ascending=False).head(20)

impostersyndrome.life    4552
London, England           387
u_location                286
London                    256
Los Angeles, CA           220
United States             178
Chicago, IL               166
Washington, DC            151
Boston, MA                141
New York, NY              140
United Kingdom            138
Houston, TX               124
California, USA           117
UK                        104
Seattle, WA               100
Atlanta, GA                99
Brooklyn, NY               88
San Francisco, CA          85
Philadelphia, PA           83
Portland, OR               81
Name: u_location, dtype: int64

In [7]:
df['u_location'].value_counts(ascending=False).tail(20)

Lahti, Suomi                      1
DC/Boston/New Haven               1
Los                               1
A noisy MDF                       1
Soul searching✨                   1
Beantown                          1
dnd                               1
ptx/frisco/Hunstvegas             1
$C                                1
NorCal                            1
Staten Island, NY.                1
Sunderland UK                     1
Old Dominion University ‘21       1
661-415                           1
Sheffield                         1
IG: julia_victoriaa               1
Retweets are not Endorsements     1
Rockville, MD                     1
Disbelief, USA                    1
Bethlehem, PA                     1
Name: u_location, dtype: int64

## What are we looking for?
Ok, some places are real and some are not. Looking at the data I am going to stick with locations in the USA and locations that have been picked via the drop-down menu on twitter. Here is what they look like:
#### City, State:
Maplewood, NJ
#### State, County:
New Jersey, USA
#### Country:
United States

1. Entries will have a single comma or be "United States"
2. Full city name with a state abbriviation
3. Full state name with a country abbriviation
4. Full country name

#### What we want, is to convert it to one of the following:

Maplewood, New Jersey, USA

New Jersey, USA

USA

## Cleaning
1. Remove empty location rows
2. Convert NJ to New Jersey, USA
3. Convert United States to USA
4. Keep only fileds that have USA in them
5. Removing retweets

In [8]:
# mark if a retweet and then drop
df['get_rt'] = df['t_text'].str.startswith('RT')
df.drop(df[df['get_rt'] == True].index, inplace=True)
df.shape

(7795, 8)

That was a lot of retweets the number of original tweets is 7795. Next we drop all empty locations and take a look at our data again.

In [9]:
df.dropna(subset=['u_location'], how='all', inplace = True)

In [10]:
df.apply(lambda x: sum(x.isnull()),axis=0)

Unnamed: 0    286
t_id            0
s_name          0
t_text          0
u_location      0
image_url       0
t_date          0
get_rt          0
dtype: int64

In [11]:
df.shape

(6561, 8)

We started with a little over 26k tweets and are down to around 7k. Now we will convert NJ to New Jersey, USA and United States to USA. I do this using a dictionary for all of the states.

In [12]:
us_state_abbrev = {
    'AL': 'Alabama, USA',
    'AK': 'Alaska, USA',
    'AZ': 'Arizona, USA',
    'AR': 'Arkansas, USA',
    'CA': 'California, USA',
    'CO': 'Colorado, USA',
    'CT': 'Connecticut, USA',
    'DE': 'Delaware, USA',
    'FL': 'Florida, USA',
    'GA': 'Georgia, USA',
    'HI': 'Hawaii, USA',
    'ID': 'Idaho, USA',
    'IL': 'Illinois, USA',
    'IN': 'Indiana, USA',
    'IA': 'Iowa, USA',
    'KS': 'Kansas, USA',
    'KY': 'Kentucky, USA',
    'LA': 'Louisiana, USA',
    'ME': 'Maine, USA',
    'MD': 'Maryland, USA',
    'MA': 'Massachusetts, USA',
    'MI': 'Michigan, USA',
    'MN': 'Minnesota, USA',
    'MS': 'Mississippi, USA',
    'MO': 'Missouri, USA',
    'MT': 'Montana, USA',
    'NE': 'Nebraska, USA',
    'NV': 'Nevada, USA',
    'NH': 'New Hampshire, USA',
    'NJ': 'New Jersey, USA',
    'NM': 'New Mexico, USA',
    'NY': 'New York, USA',
    'NC': 'North Carolina, USA',
    'ND': 'North Dakota, USA',
    'OH': 'Ohio, USA',
    'OK': 'Oklahoma, USA',
    'OR': 'Oregon, USA',
    'PA': 'Pennsylvania, USA',
    'RI': 'Rhode Island, USA',
    'SC': 'South Carolina, USA',
    'SD': 'South Dakota, USA',
    'TN': 'Tennessee, USA',
    'TX': 'Texas, USA',
    'UT': 'Utah, USA',
    'VT': 'Vermont, USA',
    'VA': 'Virginia, USA',
    'WA': 'Washington, USA',
    'WV': 'West Virginia, USA',
    'WI': 'Wisconsin, USA',
    'WY': 'Wyoming, USA',
    'United States': 'USA'
}

In [13]:
# Convert 2 letter abbrv. to State name, USA
df['u_location'] = df['u_location'].replace(us_state_abbrev, regex=True)

In [15]:
# mark all with the count of USA and grab those with only one.
usa_counts = df['u_location'].str.count('USA')
# usa_counts
df['with_usa'] = np.where((usa_counts == 1),df.u_location, "")

In [16]:
df['with_usa'].value_counts(ascending=False).tail(10)

Bayside, New York, USA                        1
NOLouisiana, USA✈️DC                          1
Knoxville, Tennessee, USA                     1
Oregon, USA                                   1
My Mind, Florida, USA                         1
Columbus, Indiana, USA                        1
Kansas, USA                                   1
Windsor Hills, California, USA                1
Beaufort South Carolina, USA | Oxford U.K.    1
Davenport, Florida, USA                       1
Name: with_usa, dtype: int64

In [17]:
df['with_usa'].value_counts(ascending=False).head(20)

                                  4346
Los Angeles, California, USA       111
New York, New York, USA             81
Chicago, Illinois, USA              70
USA                                 66
California, USA                     63
Oak Park, Illinois, USA             61
Seattle, Washington, USA            61
San Francisco, California, USA      51
Illinois, USA                       46
Brooklyn, New York, USA             42
Louisville, Kentucky, USA           41
New York, USA                       38
Boston, Massachusetts, USA          34
Davis, California, USA              34
District of Columbia, USA           33
Austin, Texas, USA                  32
Portland, Oregon, USA               31
Oakland, California, USA            31
Houston, Texas, USA                 31
Name: with_usa, dtype: int64

#### Evaluate
This is much better but we are still getting some krust, I am going to see if I can clean this up a bit more by removing any entry that has a special char. or does not end in USA

In [18]:
# Must end with USA
end_usa = df['u_location'].str.endswith('USA')
df['with_usa'] = np.where((end_usa == True),df.with_usa, "")
#df['with_usa'].value_counts(ascending=False).tail(120)

In [19]:
# No junk in the location field
df['with_usa'] = df['with_usa'].str.replace('[^a-zA-Z\s,]', '')

In [20]:
# make sure all fields are populated
df.dropna(inplace = True)

In [25]:
df['usa_count'] = df['with_usa'].str.count('USA')
df.drop(df[df['usa_count'] == 0].index, inplace=True)

In [26]:
# we can only have up to two commas, drop rows with more
comma_counts = df['with_usa'].str.count(',')
df['with_comma'] = np.where((comma_counts <= 2),df.with_usa, "")
df.shape

(2134, 11)

This takes us down to 2134 tweets that have pretty clean location information.

#### Split into three different rows
I split the location data into three rows with a split in reverse order. This orders the data with a left justify. I then strip each row of extra spaces and drop the column we do not need. Finally I write out the new csv file.

In [27]:
# split into three fields
df[['Country', 'State', 'City']] = df['with_comma'].apply(lambda x:pd.Series(x.split(",")[::-1]))

In [28]:
# strip extra spaces
df['Country'] = df['Country'].str.strip()
df['State'] = df['State'].str.strip()
df['City'] = df['City'].str.strip()

In [29]:
# drop unused columns
df.drop(['with_usa', 'usa_count', 'with_comma', 'get_rt'], axis=1)

,Unnamed: 0,t_id,s_name,t_text,u_location,image_url,t_date,Country,State,City
7,7.0,1052369469580820481,hayleydenb,True story. I had a dream last night that I wa...,"San Diego, California, USA",http://pbs.twimg.com/profile_images/1047347755...,2018-10-17 01:23:28,USA,California,San Diego
16,16.0,1052367305726865408,molls,@katieferg @kimberlylhudson If you're being st...,"Los Angeles, California, USA",http://pbs.twimg.com/profile_images/1046674961...,2018-10-17 01:14:52,USA,California,Los Angeles
79,79.0,1052357068118740992,Hentai4Dinner,Does anybody else know what imposter syndrome ...,"Springfield, Missouri, USA",http://pbs.twimg.com/profile_images/1033836023...,2018-10-17 00:34:11,USA,Missouri,Springfield
81,81.0,1052356563690840065,emilymias,I had the privilege today to talk to @MassArt...,"Boston, Massachusetts, USA",http://pbs.twimg.com/profile_images/9375178224...,2018-10-17 00:32:11,USA,Massachusetts,Boston
91,91.0,1052354795632250881,DopeBlckQueen,this transition to graduate school has been on...,"Raleigh, North Carolina, USA",http://pbs.twimg.com/profile_images/1040736565...,2018-10-17 00:25:09,USA,North Carolina,Raleigh
102,1.0,1052352901648125957,kanavjain,and @r2rothenberg talks to us about how he got...,"New York, New York, USA",http://pbs.twimg.com/profile_images/1038427834...,2018-10-17 00:17:38,USA,New York,New York
108,7.0,1052352462844133377,gmksp,Imposter syndrome https://t.co/evAj9wZC0z,"Tempe, Arizona, USA",http://pbs.twimg.com/profile_images/1050619495...,2018-10-17 00:15:53,USA,Arizona,Tempe
118,17.0,1052349532871188480,jimtoepel,@Hellchick Spoiler: It's imposter syndrome all...,"Redmond, Washington, USA",http://pbs.twimg.com/profile_images/9004442737...,2018-10-17 00:04:15,USA,Washington,Redmond
151,50.0,1052345893200904197,_markryann,#NationalBossDay \nI have the worst imposter s...,"Boncord, California, USA",http://pbs.twimg.com/profile_images/1040674494...,2018-10-16 23:49:47,USA,California,Boncord
153,52.0,1052345782676975616,IamAleshiaP,@CRWNmag @Travepreneur I dealt with Imposter S...,"Saint Louis, Missouri, USA",http://pbs.twimg.com/profile_images/9349134392...,2018-10-16 23:49:20,USA,Missouri,Saint Louis
166,65.0,1052341667456606209,mznewman,What's it called if you're just a bit unsure o...,"Milwaukee, Wisconsin, USA",http://pbs.twimg.com/profile_images/8761625011...,2018-10-16 23:32:59,USA,Wisconsin,Milwaukee
172,71.0,1052339756267229186,davidbrunelle,"@DotProto @Calendly Filed that away with the ""...","Seattle, Washington, USA",http://pbs.twimg.com/profile_images/1052346506...,2018-10-16 23:25:24,USA,Washington,Seattle
175,74.0,1052338650355261440,drewgrham,@doilookwasted @AllspiceRose Sorry for calling...,"Philadelphia, Pennsylvania, USA",http://pbs.twimg.com/profile_images/9050938323...,2018-10-16 23:21:00,USA,Pennsylvania,Philadelphia
188,87.0,1052335423878569985,ScottGoyette,Stoked! Probably breaking a few rules with thi...,"Delaware, USA",http://pbs.twimg.com/profile_images/8960972016...,2018-10-16 23:08:11,USA,Delaware,NaN
196,95.0,1052333909499944960,nelsonlflores,Me: Let me tweet about how to avoid imposter s...,"Philadelphia, Pennsylvania, USA",http://pbs.twimg.com/profile_images/8603366000...,2018-10-16 23:02:10,USA,Pennsylvania,Philadelphia
211,9.0,1052331246683115521,heybluewrites,People complaining about DV Pit meanwhile I'm ...,"North Dakota, USA",http://pbs.twimg.com/profile_images/1013891630...,2018-10-16 22:51:35,USA,North Dakota,NaN
217,15.0,1052330227874062337,siddante,Proud of Austin. Honored to be his friend. H...,"Baltimore, Maryland, USA",http://pbs.twimg.com/profile_images/5861530768...,2018-10-16 22:47:32,USA,Maryland,Baltimore
224,22.0,1052329796124991488,AdamDLindstrom,Imposter syndrome? Go check out @human_perisc...,"New Jersey, USA",http://pbs.twimg.com/profile_images/1004140071...,2018-10-16 22:45:49,USA,New Jersey,NaN
248,46.0,1052325511068758016,SawakoSono,About imposter syndrome and entrepreneurial an...,"San Francisco, California, USA",http://pbs.twimg.com/profile_images/8986607404...,2018-10-16 22:28:47,USA,California,San Francisco
267,65.0,1052321750023692289,tinaatang,when ur whole life is the imposter syndrome :-...,"UCSouth Dakota, USA",http://pbs.twimg.com/profile_images/1024621049...,2018-10-16 22:13:51,USA,UCSouth Dakota,NaN
272,70.0,1052321336096374792,anna_boeg,My imposter syndrome has spilled over into the...,"Occupied Anishinaabe land in Detroit, Michigan...",http://pbs.twimg.com/profile_images/9802105351...,2018-10-16 22:12:12,USA,Michigan,Occupied Anishinaabe land in Detroit
294,92.0,1052316812153520128,musingvirtual,"""All of them had stunted career growth. Non-tr...","Oakland, California, USA",http://pbs.twimg.com/profile_images/9930099746...,2018-10-16 21:54:13,USA,California,Oakland
295,93.0,1052316404752572429,xnaunx,Yeah! You too can be crying at the school of y...,"Hanover, New Hampshire, USA",http://pbs.twimg.com/profile_images/9322086748...,2018-10-16 21:52:36,USA,New Hampshire,Hanover
319,16.0,1052313748352905216,alexhareland,I've been fighting some major imposter syndrom...,"Oakland, California, USA",http://pbs.twimg.com/profile_images/8712394753...,2018-10-16 21:42:03,USA,California,Oakland
337,34.0,1052310999729139718,possiblehorizon,"@AliaJoyH When the imposter syndrome strikes, ...","Cincinnati, Ohio, USA",http://pbs.twimg.com/profile_images/8324228690...,2018-10-16 21:31:07,USA,Ohio,Cincinnati
355,52.0,1052308459364978689,Alcrowldabest,I’ll have my LCSW in a few months but imposter...,"Philadelphia, Pennsylvania, USA",http://pbs.twimg.com/profile_images/8424608314...,2018-10-16 21:21:02,USA,Pennsylvania,Philadelphia
361,58.0,1052308186366009344,RentPoet,"Imposter syndrome has been an ongoing theme, a...","Los Angeles, California, USA",http://pbs.twimg.com/profile_images/1051017967...,2018-10-16 21:19:57,USA,California,Los Angeles
364,61.0,1052307760614785024,chep2m,1/3\n\nAbout Imposter Syndrome...\n\na) pretty...,"San Francisco, California, USA",http://pbs.twimg.com/profile_images/8639701117...,2018-10-16 21:18:15,USA,California,San Francisco
366,63.0,1052307684983222272,AmLitCritTwitt,@EmpyrealGradult Man “enough” is that thing we...,"Carbondale, Illinois, USA",http://pbs.twimg.com/profile_images/9135438390...,2018-10-16 21:17:57,USA,Illinois,Carbondale
382,79.0,1052305194883502080,chep2m,"Hey, friends at Activate #Montreal: proud to r...","San Francisco, California, USA",http://pbs.twimg.com/profile_images/8639701117...,2018-10-16 21:08:04,USA,California,San Francisco
...,...,...,...,...,...,...,...,...,...,...
26537,20.0,1052709673978273792,OliviakUmana,"@tephie_mm Girl, yes! It was killing me and pl...","Worcester, Massachusetts, USA",http://pbs.twimg.com/profile_images/1009515312...,2018-10-17 23:55:19,USA,Massachusetts,Worcester
26542,25.0,1052708514500673536,constancekassor,@matilda_jt @AcademicChatter It might not seem...,"Appleton, Wisconsin, USA",http://pbs.twimg.com/profile_images/1043518014...,2018-10-17 23:50:42,USA,Wisconsin,Appleton
26544,27.0,1052708138330324993,JustinFlood,Imposter syndrome is the worst.,"West Babylon, New York, USA",http://pbs.twimg.com/profile_images/1044759395...,2018-10-17 23:49:13,USA,New York,West Babylon
26551,34.0,1052705788458913792,AlexaEisenbarth,Imposter syndrome is terrible,"Chicago, Illinois, USA",http://pbs.twimg.com/profile_images/1051258516...,2018-10-17 23:39:52,USA,Illinois,Chicago
26577,60.0,1052698267568562176,urcym,I think I have imposter syndrome.,"Laredo, Texas, USA",http://pbs.twimg.com/profile_images/1035268036...,2018-10-17 23:09:59,USA,Texas,Laredo
26579,62.0,1052698153877684224,w9jds_,Everyday I suffer from things like imposter sy...,"Illinois, USA",http://pbs.twimg.com/profile_images/9311902216...,2018-10-17 23:09:32,USA,Illinois,NaN
26584,67.0,1052697264966303744,adrianafitnall,Two-Thirds Of Women In UK Suffer From #Imposte...,"New York, USA",http://pbs.twimg.com/profile_images/9154336506...,2018-10-17 23:06:00,USA,New York,NaN
26587,70.0,1052696694935224320,MsJohnson16,Imposter syndrome tells you that people say ni...,"Louisville, Kentucky, USA",http://pbs.twimg.com/profile_images/7121103471...,2018-10-17 23:03:44,USA,Kentucky,Louisville
26589,72.0,1052695582442024964,TDHRehab,Get some #WednesdayWisdom with our latest epis...,"Los Angeles, California, USA",http://pbs.twimg.com/profile_images/5776137383...,2018-10-17 22:59:19,USA,California,Los Angeles
26593,76.0,1052693895585419264,jamesingramii,Some days I feel like I'm not even good enough...,"Johnson City, New York, USA",http://pbs.twimg.com/profile_images/1037438092...,2018-10-17 22:52:37,USA,New York,Johnson City
26601,84.0,1052692474898968576,dejbrown_,lately i have been feeling like i do not belon...,"Portland, Oregon, USA",http://pbs.twimg.com/profile_images/9269274325...,2018-10-17 22:46:58,USA,Oregon,Portland
26614,97.0,1052689723494420480,GrubFellow,@mathimus55 Imposter Syndrome.,"Rochester, New York, USA",http://pbs.twimg.com/profile_images/9572595916...,2018-10-17 22:36:02,USA,New York,Rochester
26615,98.0,1052689444472573952,serenalarkin,When you read a literary deconstruction of the...,"Madison, Wisconsin, USA",http://pbs.twimg.com/profile_images/9153297015...,2018-10-17 22:34:56,USA,Wisconsin,Madison
26616,99.0,1052689272900182022,katieboundary,I work best when I'm in a positive environment...,"San Francisco, California, USA",http://pbs.twimg.com/profile_images/9950318842...,2018-10-17 22:34:15,USA,California,San Francisco
26628,10.0,1052687067925307392,j_lnch,@PatjBrennan It’s 3 layer chocolate mousse cak...,"San Diego, California, USA",http://pbs.twimg.com/profile_images/9983203212...,2018-10-17 22:25:29,USA,California,San Diego
26675,57.0,1052671040755777538,AnnieRoonie13,@olive_huffman That’s Imposter Syndrome speaki...,"District of Columbia, USA",http://pbs.twimg.com/profile_images/1047570886...,2018-10-17 21:21:48,USA,District of Columbia,NaN
26697,79.0,1052667871191490560,defjoy,@jjamesfloyd Right? Particularly since I hung ...,"Cortland, New York, USA",http://pbs.twimg.com/profile_images/2021264241...,2018-10-17 21:09:12,USA,New York,Cortland
26698,80.0,1052667869073412096,bdclendenin,I can’t wait to be around a bunch of poets and...,"Brooklyn, New York, USA",http://pbs.twimg.com/profile_images/1004192123...,2018-10-17 21:09:12,USA,New York,Brooklyn
26704,86.0,1052667629771608064,biaMedious,“The very act of being in the room means you b...,"Chicago, Illinois, USA",http://pbs.twimg.com/profile_images/8779101838...,2018-10-17 21:08:15,USA,Illinois,Chicago
26707,89.0,1052667045060460548,HRay_Of_Sun,Check out this upcoming webinar on imposter sy...,"Birmingham, Alabama, USA",http://pbs.twimg.com/profile_images/1009307114...,2018-10-17 21:05:55,USA,Alabama,Birmingham
26735,16.0,1052659576133349377,typedoutco,"Imposter syndrome is a real thing, y’all. Does...","New York, New York, USA",http://pbs.twimg.com/profile_images/1049705501...,2018-10-17 20:36:15,USA,New York,New York
26737,18.0,1052659091745562625,neener_baneener,Imposter syndrome is kicking my ass rn and I’m...,"Davis, California, USA",http://pbs.twimg.com/profile_images/1025233710...,2018-10-17 20:34:19,USA,California,Davis
26741,22.0,1052658233972801542,TeganTrovato,Having the Imposter Syndrome can lead to a lac...,USA,http://pbs.twimg.com/profile_images/9178285043...,2018-10-17 20:30:55,USA,NaN,NaN
26746,27.0,1052657044724039687,Kcap1313,Great turnout for the #asfw event on beating i...,"Columbus, Ohio, USA",http://pbs.twimg.com/profile_images/1019645034...,2018-10-17 20:26:11,USA,Ohio,Columbus
26748,29.0,1052656566313336833,bcjordo,We're sharing a peek behind the curtain on som...,"Macungie, Pennsylvania, USA",http://pbs.twimg.com/profile_images/8583063060...,2018-10-17 20:24:17,USA,Pennsylvania,Macungie
26758,39.0,1052655395569889280,nickolysalmeida,been feeling that imposter syndrome pretty har...,"Providence, Rhode Island, USA",http://pbs.twimg.com/profile_images/1048669475...,2018-10-17 20:19:38,USA,Rhode Island,Providence
26769,50.0,1052653395927023617,ladybotfly,New goals for before-2019:\n- You learned what...,"Illinois, USA",http://pbs.twimg.com/profile_images/9899529754...,2018-10-17 20:11:41,USA,Illinois,NaN
26782,63.0,1052648501144891393,RNickGorton,@ffolliet @EMSwami @darakass @feminemtweets @j...,"Davis, California, USA",http://pbs.twimg.com/profile_images/1005541664...,2018-10-17 19:52:14,USA,California,Davis
26788,69.0,1052647590091780098,mhstein,@roseperson I think it happens to 90% or more ...,"Maine, USA",http://pbs.twimg.com/profile_images/9605653115...,2018-10-17 19:48:37,USA,Maine,NaN
26809,90.0,1052643019856330752,JBRylah,"@alicialutes Hi, hello, hey. I think the indus...","Los Angeles, California, USA",http://pbs.twimg.com/profile_images/7747210527...,2018-10-17 19:30:27,USA,California,Los Angeles

In [30]:
df.shape

(2134, 14)

In [31]:
# write out my file of clean tweets
df.to_csv('tweets_clean_1018.csv')